<%= tag.p(notice, id: "notice") if notice %>
<%= tag.span("Current User: #{current_user.email}, id:#{current_user.id} ") if user_signed_in? %>
<%= tag.p link_to "Log out", destroy_user_session_path, method: :delete %>

<div id = "todo-app">
  Loading TODO app .....
</div>

<%= stylesheet_pack_tag 'Lib/i-services'%>
<%= stylesheet_pack_tag 'Todo/todo'%>
<%= javascript_pack_tag 'todo-main' %>    
